C#/OESClient/Logic/Service References/TeacherServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.rick.com/" elementFormDefault="qualified" targetNamespace="http://www.rick.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9007/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Contracts.DataContracts" />
  <xs:element name="ExamList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Contracts.DataContracts" minOccurs="0" name="teacherSelect" nillable="true" type="q1:TeacherSelect" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExamListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Contracts.DataContracts" minOccurs="0" name="ExamListResult" nillable="true" type="q2:ArrayOfTeacherManage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExamListCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Contracts.DataContracts" minOccurs="0" name="teacherSelect" nillable="true" type="q3:TeacherSelect" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExamListCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExamListCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExamJoinDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Contracts.DataContracts" minOccurs="0" name="examSelect" nillable="true" type="q4:ExamSelect" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExamJoinDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Contracts.DataContracts" minOccurs="0" name="ExamJoinDetailsResult" nillable="true" type="q5:ArrayOfExamDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>