C#/OESClient/Logic/Service References/TeacherServiceReference/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.rick.com/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.rick.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.rick.com/Imports">
      <xsd:import schemaLocation="http://localhost:9007/?xsd=xsd0" namespace="http://www.rick.com/" />
      <xsd:import schemaLocation="http://localhost:9007/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9007/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Contracts.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITeacherService_ExamList_InputMessage">
    <wsdl:part name="parameters" element="tns:ExamList" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_ExamList_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExamListResponse" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_ExamListCount_InputMessage">
    <wsdl:part name="parameters" element="tns:ExamListCount" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_ExamListCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExamListCountResponse" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_ExamJoinDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:ExamJoinDetails" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_ExamJoinDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExamJoinDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="ITeacherService">
    <wsdl:operation name="ExamList">
      <wsdl:input wsaw:Action="http://www.rick.com/ITeacherService/ExamList" message="tns:ITeacherService_ExamList_InputMessage" />
      <wsdl:output wsaw:Action="http://www.rick.com/ITeacherService/ExamListResponse" message="tns:ITeacherService_ExamList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExamListCount">
      <wsdl:input wsaw:Action="http://www.rick.com/ITeacherService/ExamListCount" message="tns:ITeacherService_ExamListCount_InputMessage" />
      <wsdl:output wsaw:Action="http://www.rick.com/ITeacherService/ExamListCountResponse" message="tns:ITeacherService_ExamListCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExamJoinDetails">
      <wsdl:input wsaw:Action="http://www.rick.com/ITeacherService/ExamJoinDetails" message="tns:ITeacherService_ExamJoinDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://www.rick.com/ITeacherService/ExamJoinDetailsResponse" message="tns:ITeacherService_ExamJoinDetails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>