C#/OESClient/Logic/Service References/LoginServiceReference/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.rick.com/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.rick.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.rick.com/Imports">
      <xsd:import schemaLocation="http://localhost:9003/?xsd=xsd0" namespace="http://www.rick.com/" />
      <xsd:import schemaLocation="http://localhost:9003/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9003/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Contracts.DataContracts" />
      <xsd:import schemaLocation="http://localhost:9003/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserLogin_VerifyUserLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:VerifyUserLogin" />
  </wsdl:message>
  <wsdl:message name="IUserLogin_VerifyUserLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerifyUserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IUserLogin_JudgeUserType_InputMessage">
    <wsdl:part name="parameters" element="tns:JudgeUserType" />
  </wsdl:message>
  <wsdl:message name="IUserLogin_JudgeUserType_OutputMessage">
    <wsdl:part name="parameters" element="tns:JudgeUserTypeResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserLogin">
    <wsdl:operation name="VerifyUserLogin">
      <wsdl:input wsaw:Action="http://www.rick.com/IUserLogin/VerifyUserLogin" message="tns:IUserLogin_VerifyUserLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://www.rick.com/IUserLogin/VerifyUserLoginResponse" message="tns:IUserLogin_VerifyUserLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JudgeUserType">
      <wsdl:input wsaw:Action="http://www.rick.com/IUserLogin/JudgeUserType" message="tns:IUserLogin_JudgeUserType_InputMessage" />
      <wsdl:output wsaw:Action="http://www.rick.com/IUserLogin/JudgeUserTypeResponse" message="tns:IUserLogin_JudgeUserType_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>