C#/OESClient/Logic/Service References/StudentServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Contracts.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Contracts.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StudentSelect">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentPage" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsFinished" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PageSize" type="xs:int" />
      <xs:element minOccurs="0" name="StudentSortDirction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StudentSortName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StudentSelect" nillable="true" type="tns:StudentSelect" />
  <xs:complexType name="ArrayOfStudentExam">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StudentExam" nillable="true" type="tns:StudentExam" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudentExam" nillable="true" type="tns:ArrayOfStudentExam" />
  <xs:complexType name="StudentExam">
    <xs:sequence>
      <xs:element minOccurs="0" name="Duration" type="xs:int" />
      <xs:element minOccurs="0" name="EffectiveTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExamName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExamSocre" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Operation" type="xs:int" />
      <xs:element minOccurs="0" name="PassCriteria" type="xs:int" />
      <xs:element minOccurs="0" name="RowNumber" type="xs:long" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StudentExam" nillable="true" type="tns:StudentExam" />
  <xs:complexType name="Exam">
    <xs:sequence>
      <xs:element minOccurs="0" name="Duration" type="xs:int" />
      <xs:element minOccurs="0" name="EffectiveTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExamName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsDelete" type="xs:int" />
      <xs:element minOccurs="0" name="Notice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PassCriteria" type="xs:int" />
      <xs:element minOccurs="0" name="QuestionPoints" type="xs:int" />
      <xs:element minOccurs="0" name="QuestionQuantity" type="xs:int" />
      <xs:element minOccurs="0" name="TotalScore" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Exam" nillable="true" type="tns:Exam" />
  <xs:complexType name="TestingContent">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChoiceA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChoiceB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChoiceC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChoiceD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorrectAnwser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExamId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsDelecte" type="xs:int" />
      <xs:element minOccurs="0" name="QuestionContent" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TestingContent" nillable="true" type="tns:TestingContent" />
  <xs:complexType name="ArrayOfTestingContent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TestingContent" nillable="true" type="tns:TestingContent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTestingContent" nillable="true" type="tns:ArrayOfTestingContent" />
  <xs:complexType name="ExamRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="EffectiveTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExamId" type="xs:int" />
      <xs:element minOccurs="0" name="ExamScore" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsDelete" type="xs:int" />
      <xs:element minOccurs="0" name="IsPass" type="xs:int" />
      <xs:element minOccurs="0" name="SubmitTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserAnwser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExamRecord" nillable="true" type="tns:ExamRecord" />
  <xs:complexType name="ArrayOfExam">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Exam" nillable="true" type="tns:Exam" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExam" nillable="true" type="tns:ArrayOfExam" />
  <xs:complexType name="ExamAbout">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactUs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExaminationRules" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="SystemInformation" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExamAbout" nillable="true" type="tns:ExamAbout" />
</xs:schema>